@import url('https://fonts.googleapis.com/css2?family=Anton&family=Joan&family=Kdam+Thmor+Pro&family=Merriweather:wght@700&family=Montserrat:wght@100&display=swap');

.headAdm{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    /* margin-bottom: 150px; */
    padding-top: 20px;
}

#xAdmin{
    font-size: 30px;
    cursor: pointer;
    color: red;
    padding: 0px 10px;
    border-radius: 5px;
}

#xAdmin:hover{
    border: 2px solid;
    background-color: red;
    color: white;
}

#addAdmin{
    padding: 0px 10px;
    border-radius: 5px;
    background-color: darkgreen;
    color: aqua;
}
#addAdmin:hover{
    background-color: black;
    color: white;
}

.adDataDiv{
    display: flex;
    justify-content: center;
    /* background-color: black; */
    height: 50px;
    color: rgb(29, 28, 28);
}

/* .inputClass{
    margin-right: 20px;
} */

.labelClass{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 27px;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    padding-bottom: 7px;
}

.buttonClass{
    margin-left: 10px;
}

#adBtnDiv{
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    margin: 5px;
}

.adminCont{
    background-image: linear-gradient(to right, #00b4db, #0083b0);
}

.inputClass{
    padding: 10px;
    align-items: center;
    padding-top: 14px;
}

input{
    text-align: center;
    /* font-size: 10px; */
    
}

@media(max-width: 760px){
    .adminCont, .bodyUp{
        display: none;
    }
}