

.xView{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* cursor: pointer; */
}

.avatar{
    width: 70%;
}

#xAdmin:hover{
    cursor: pointer;
}
.vImg{
    width: 300%;
}



.job{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.viewClass{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}

.dataCl{
    margin-bottom: 20px;
}